* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Josefin Sans, sans-serif;
}
body {
    color: white;
    background-color: black;
}

/*navbar*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background: #111011;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}
.logo {
    position: relative;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    letter-spacing: 5px;
}
.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.span{
    color: #FD7E14;
    font-size: 40px;
}

.navbar a:hover {
    color: #FD7E14;
    transition: 0.4s ease-in-out;
}

/*home*/
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    min-height: 97vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    border-bottom: 1px solid #363636;
}
.home-content {
    max-width: 600px;
}
.home-content h1 {
    font-size: 70px;
    font-weight: 700;
    margin: -3px 0;
    letter-spacing: 5px;
    padding-top: 0px;
    padding-bottom: 15px;
}
.home-content h4 {
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 50px;
}
.img {
    display: inline-block;
    width: 400px;
    height: 400px;
    left: 60%;
    bottom: 25%;
    margin-right: 5%;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.responsive {
    width: 100%;
    height: auto;
    border-top-left-radius: 270px;
    border-top-right-radius: 270px;
    border-bottom-left-radius: 270px;
    border-bottom-right-radius: 270px;
}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #424141;
    border-radius: 2px;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover {
    color: #FD7E14;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 5px #424141,0 0 23px #424141, 0 0 50pc #424141;
}

/*about*/
.about{
    display: flex;
    padding: 50px 10%;
    border-bottom: 1px solid #363636;
    min-height: 90vh;
}
.about-text{
    padding-left: 200px;
}
.about-text h1{
    padding-top: 80px;
    font-size: 55px;
}
.about-text h5{
    font-size: 22px;
    font-weight: normal;
}
.about-text p{
    padding-top: 20px;
    font-size: 17px;
    font-weight: 10;
}
.about-text span{
    padding-top: 1px;
    font-size: 19px;
    font-weight: bolder;
    color: #FD7E14;
}
.about-img{
    width: 400px;
    height: 400px;
}
.abt-responsive {
    width: 100%;
    height: auto;
    border-top-left-radius: 270px;
    border-top-right-radius: 270px;
    border-bottom-left-radius: 270px;
    border-bottom-right-radius: 270px;
}


/* Skills */
#Skills{
    min-height: 97vh;
    padding-bottom: 40px;
    border-bottom: 1px solid #363636;
}

.subtitle {
    text-align: center;
    font-size: 19px;
    padding-bottom: 50px;
    padding-top: 70px;
    color: #FD7E14;

}
.cards{
    width: 400px;
    height: 320px;
    min-width: 200px;
    display: inline-block;
    border-radius: 5px;
    border: 5px solid #fda352;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;

}
.cards .des{
    padding: 0px;
}
.titles{
    text-align: center;
    padding: 10px;
}

.cards .titles h1{
    font-size: 33px;
    background-image: linear-gradient(to right, #fcc095, #930000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skill-icon {
    width: 24px;
    height: 24px;
    padding-right: 5px;
}
.techs{
    font-size: 18px;
    display: inline-flex;
    padding: 5px;
    border: 2px solid #c59a7e;
    width: fit-content;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
}
.cards:hover{
    box-shadow: 1px 1px 10px #fda352;
}

