/* navigation bar */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Josefin Sans,sans-serif;
    font-weight: 700;
    font-optical-sizing: auto;
    background-color: #090909;
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 9vh;
    width: 100%;
    background-color: #111011;
    position: fixed;
    top: 0;
}
.logo{
    padding-top:20px;
    margin-left: 45px;
}
.logo>a{
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}
span{
    color: #FD7E14;
    font-size: 35px;
}
.navbar-menu{
    display: flex;
    margin-right: 30px;
    margin-top: 25px;
    list-style: none;
}
.menu-links{
    padding: 10px 25px 0 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffffff;
}
.menu-links:hover{
    color: #FD7E14;
    transition: 0.3s ease-in-out;
}


/*Home page */

.developer{
    margin-left: 8vw;
    margin-top: 5vw;
    font-size: 90px;
    color: #0D0D0C;
}
.developer>h1{
    margin: 40px 0 0 0;
    letter-spacing: 19px;

}
.left-side{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10vw;
}
.left-side>h2{
    font-size: 90px;
    margin: 0;
    color: #FFFFFF;
}
.left-side>h3{
    font-size:30px;
    color: #FFFFFF;
    opacity: 45%;
    font-weight: 350;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 28px;
}
.button{
    margin-top:60px;
    width: 150px;
    height: 40px;
    background-color: #424141;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size:15px;
    font-weight: 500;
    cursor: pointer;
}
.button:hover{
    color: #FD7E14;
    background-color: #525151;
    transition: 0.3s ease-in-out;
}
.social-links li a {
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
    text-decoration: none;
    color: #ffffff;
    padding: 50px;
    list-style: none;
    width: 0;
    letter-spacing: 1px;
}
.social-links>ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.home-section{
    position: relative;
}
.social-links{
    position: absolute;
    top: 30vh;
}