@media screen and  (max-width:320px){
    .header{
        width: 320px;
    }
    .navbar{
        width: 300px;
    }
    .navbar a {
        font-size: 10px;
        font-weight: 330;
    }
    .home-content h1{
        font-size: 30px;
        font-weight: 500;
        margin: -3px 0;
        letter-spacing: 3px;
        padding-bottom: 10px;
        text-align: center;
    }
    .home-content h4{
        font-size: 15px;
        font-weight: 300;
        text-align: center;
    }
    .img{
        width: 160px;
        height: 160px;
        left: 25%;
        bottom: -80px;
    }
    .btn-box{
        left: 29%;
        font-size: 10px;
        font-weight: 400;
    }
    .about {
        width: 320px;
        margin-bottom: 300px;
        margin-top: 200px;
    }
    .about-text {
        top: 400px;
        position: absolute;
        left: 7px;
        text-align: center;
        padding-left: 0;
        width: 300px;
    }
    .about-img{
        width:200px;
        height: 200px;
        top: 0;
        left: 18%;
    }
    .about-img-text {
        width: 120px;
        height: 140px;
        margin-left: 100px;
        position: absolute;
        margin-top: -25vw;
    }
    .about-text h1 {
        padding-top: 70px;
        font-size: 40px;
    }
    .fun-fact {
        width: 300px;
    }
    .about-text h1 {
        padding-top: 40px;
        font-size: 30px;
    }
    .about-img-text h1 {
        font-size: 60px;
        padding-left: 35px;
        margin-top: 20px;
    }
    .about-img-text span {
        font-size: 10px;
        font-weight: 400;
        padding-left: 20px;
    }
    .scroll-icon {
        margin-top: 1100px;
    }
    #Skills{
        margin-top: 800px;
    }
    .subtitle{
        margin-left: 130px;
    }
}
@media screen and (min-width: 321px) and (max-width:376px){
    .header{
        width: 376px;
    }
    .navbar{
        width: 370px;
    }
    .navbar a {
        font-size: 13px;
        font-weight: 390;
    }
    .home-content h1{
        font-size: 30px;
        font-weight: 500;
        margin: 0px 20px;
        letter-spacing: 3px;
        padding-bottom: 10px;
        text-align: center;
    }
    .home-content h4{
        font-size: 15px;
        font-weight: 300;
        text-align: center;
    }
    .img{
        width: 160px;
        height: 160px;
        left: 28%;
        bottom: 0px;
    }
    .btn-box{
        left: 32%;
        font-size: 10px;
        font-weight: 400;
    }
    .about {
        width: 375px;
        margin-bottom: 300px;
        margin-top: 200px;
    }
    .about-text {
        top: 400px;
        position: absolute;
        left: 7px;
        text-align: center;
        padding-left: 0;
        width: 373px;
    }
    .about-img{
        width:200px;
        height: 200px;
        top: 0;
        left: 18%;
    }
    .about-img-text {
        width: 120px;
        height: 140px;
        margin-left: 100px;
        position: absolute;
        margin-top: -25vw;
    }
    .about-text h1 {
        padding-top: 70px;
        font-size: 40px;
    }
    .fun-fact {
        width: 370px;
    }
    .about-text h1 {
        padding-top: 40px;
        font-size: 30px;
    }
    .about-img-text h1 {
        font-size: 60px;
        padding-left: 35px;
        margin-top: 20px;
    }
    .about-img-text span {
        font-size: 10px;
        font-weight: 400;
        padding-left: 20px;
    }
    .scroll-icon {
        margin-top: 1100px;
    }
    #Skills{
        margin-top: 800px;
    }
    .subtitle{
        margin-left: 130px;
    }
}
@media screen and (min-width: 376px) and (max-width:429px){
    .header{
        width: 428px;
    }
    .navbar{
        width: 400px;
    }
    .navbar a {
        font-size: 15px;
        font-weight: 400;
    }
    .home-content h1{
        font-size: 30px;
        font-weight: 500;
        margin: 0px 20px;
        letter-spacing: 3px;
        padding-bottom: 10px;
        text-align: center;
    }
    .home-content h4{
        font-size: 15px;
        font-weight: 300;
        text-align: center;
    }
    .img{
        width: 160px;
        height: 160px;
        left: 28%;
        bottom: 0px;
    }
    .btn-box{
        left: 32%;
        font-size: 10px;
        font-weight: 400;
    }
    .about {
        width: 428px;
        margin-bottom: 300px;
        margin-top: 200px;
    }
    .about-text {
        top: 400px;
        position: absolute;
        left: 7px;
        text-align: center;
        padding-left: 0;
        width: 425px;
    }
    .about-img{
        width:200px;
        height: 200px;
        top: 0;
        left: 18%;
    }
    .about-img-text {
        width: 120px;
        height: 140px;
        margin-left: 100px;
        position: absolute;
        margin-top: -25vw;
    }
    .about-text h1 {
        padding-top: 70px;
        font-size: 40px;
    }
    .fun-fact {
        width: 425px;
    }
    .about-text h1 {
        padding-top: 40px;
        font-size: 30px;
    }
    .about-img-text h1 {
        font-size: 60px;
        padding-left: 35px;
        margin-top: 20px;
    }
    .about-img-text span {
        font-size: 10px;
        font-weight: 400;
        padding-left: 20px;
    }
    .scroll-icon {
        margin-top: 1100px;
    }
    #Skills{
        margin-top: 800px;
    }
    .subtitle{
        margin-left: 130px;
    }
}
@media screen and (min-width: 429px) and (max-width:769px){
    .header{
        width: 768px;
    }
    .navbar{
        width: 600px;
    }
    .navbar a {
        font-size: 20px;
        font-weight: 420;
    }
    .home-content h1 {
        position: absolute;
        top: 300px;
        font-size: 36px;
    }
    .home-content h4 {
        position: absolute;
        top: 410px;
        font-size: 15px;
    }
    .img {
        width: 280px;
        height: 280px;
        top: 200px;
    }
    .btn-box{
        top: 450px;
    }
    .about {
        width: 768px;
    }
    .about-img {
        width: 270px;
        top: 80px;
        height: 300px;
    }
    .about-text {
        width: 320px;
        top: 0;
        left: 400px;
        padding-left: 0;
    }
    .about-text h1 {
        padding-top: 50px;
        font-size: 22px;
    }
    .about-text h5{
        font-size: 17px;
    }
    .about-img-text {
        width: 140px;
        height: 170px;
    }
    .about-img-text h1 {
        font-size: 70px;
        padding-left: 45px;
    }
    .about-img-text span {
        font-size: 15px;
        font-weight: 400;
        padding-left: 12px;
    }
    .fun-fact {
        width: 340px;
    }
    .scroll-icon {
        margin-top: 620px;
    }
    #Skills{
        margin-top: 200px
    }
}
@media screen and (min-width: 769px) and (max-width:821px){
    .header{
        width: 820px;
    }
    .navbar{
        width: 650px;
    }
    .navbar a {
        font-size: 22px;
        font-weight: 420;
    }
    .home-content h1 {
        position: absolute;
        top: 300px;
        font-size: 38px;
    }
    .home-content h4 {
        position: absolute;
        top: 410px;
        font-size: 15px;
    }
    .img {
        width: 280px;
        height: 280px;
        top: 200px;
    }
    .btn-box{
        top: 450px;
    }
    .about {
        width: 768px;
    }
    .about-img {
        width: 270px;
        top: 80px;
        height: 300px;
    }
    .about-text {
        width: 350px;
        top: 0;
        left: 400px;
        padding-left: 0;
    }
    .about-text h1 {
        padding-top: 50px;
        font-size: 22px;
    }
    .about-text h5{
        font-size: 17px;
    }
    .about-img-text {
        width: 140px;
        height: 170px;
    }
    .about-img-text h1 {
        font-size: 70px;
        padding-left: 45px;
    }
    .about-img-text span {
        font-size: 15px;
        font-weight: 400;
        padding-left: 12px;
    }
    .fun-fact {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 350px;
    }
    .scroll-icon {
        margin-top: 620px;
    }
    #Skills{
        margin-top: 200px
    }
}
@media screen and (min-width: 821px) and (max-width:835px){
    .header{
        width: 835px;
    }
    .navbar{
        width: 700px;
    }
    .navbar a {
        font-size: 23px;
        font-weight: 420;
    }
    .home-content h1 {
        position: absolute;
        top: 300px;
        font-size: 40px;
    }
    .home-content h4 {
        position: absolute;
        top: 410px;
        font-size: 15px;
    }
    .img {
        width: 280px;
        height: 280px;
        top: 200px;
    }
    .btn-box{
        top: 450px;
    }
    .about {
        width: 768px;
    }
    .about-img {
        width: 270px;
        top: 80px;
        height: 300px;
    }
    .about-text {
        width: 380px;
        top: 0;
        left: 400px;
        padding-left: 0;
    }
    .about-text h1 {
        padding-top: 50px;
        font-size: 25px;
    }
    .about-text h5{
        font-size: 17px;
    }
    .about-img-text {
        width: 140px;
        height: 170px;
    }
    .about-img-text h1 {
        font-size: 70px;
        padding-left: 45px;
    }
    .about-img-text span {
        font-size: 15px;
        font-weight: 400;
        padding-left: 12px;
    }
    .fun-fact {
        display: grid;
        grid-template-columns: repeat(3,120px);
        width: 350px;
    }
    .scroll-icon {
        margin-top: 630px;
    }
    #Skills{
        margin-top: 200px
    }
}
@media screen and (min-width: 835px) and (max-width:885px){
    .navbar{
        width: 700px;
    }
    .navbar a {
        font-size: 24px;
        font-weight: 430;
    }
    .home-content h1 {
        position: absolute;
        top: 300px;
        font-size: 42px;
    }
    .home-content h4 {
        position: absolute;
        top: 410px;
        font-size: 17px;
    }
    .img {
        width: 280px;
        height: 280px;
        top: 200px;
    }
    .btn-box{
        top: 450px;
    }
    .about {
        width: 885px;
    }
    .about-img {
        width: 290px;
        top: 80px;
        height: 300px;
    }
    .about-text {
        width: 400px;
        top: 0;
        left: 440px;
        padding-left: 0;
    }
    .about-text h1 {
        padding-top: 50px;
        font-size: 28px;
    }
    .about-text h5{
        font-size: 17px;
    }
    .about-img-text {
        width: 140px;
        height: 170px;
    }
    .about-img-text h1 {
        font-size: 70px;
        padding-left: 45px;
    }
    .about-img-text span {
        font-size: 15px;
        font-weight: 400;
        padding-left: 12px;
    }
    .fun-fact {
        display: grid;
        grid-template-columns: repeat(3,130px);
        width: 380px;
    }
    .scroll-icon {
        margin-top: 640px;
    }
    #Skills{
        margin-top: 200px
    }
}
@media screen and (min-width: 885px) and (max-width:950px){
    .header{
        flex-direction: row;
        padding-left: 6%;
    }
    .navbar{
        width: 550px;
    }
    .navbar a {
        font-size: 17px;
        font-weight: 410;
    }
    .home-content h1 {
        position: absolute;
        top: 250px;
        font-size: 45px;
    }
    .home-content h4 {
        position: absolute;
        top: 380px;
        font-size: 20px;
    }
    .img {
        width: 280px;
        height: 280px;
        top: 185px;
    }
    .btn-box{
        top: 430px;
    }
    .about {
        width: 950px;
    }
    .about-img {
        width: 300px;
        top: 80px;
        height: 300px;
    }
    .about-text {
        width: 450px;
        top: 0;
        left: 430px;
        padding-left: 0;
    }
    .about-text h1 {
        padding-top: 50px;
        font-size: 35px;
    }
    .about-text h5{
        font-size: 19px;
    }
    .about-img-text {
        width: 140px;
        height: 170px;
    }
    .about-img-text h1 {
        font-size: 70px;
        padding-left: 45px;
    }
    .about-img-text span {
        font-size: 15px;
        font-weight: 400;
        padding-left: 12px;
    }
    .fun-fact {
        display: grid;
        grid-template-columns: repeat(3,170px);
        width:400px;
    }
    .scroll-icon {
        margin-top: 550px;
    }
    #Skills{
        margin-top: 200px
    }
}
@media screen and (min-width: 950px) and (max-width:1024px){
    .header{
        width: 1024px;
        flex-direction: row;
        padding-left: 5%;
    }
    .navbar{
        width: 570px;
    }
    .navbar a {
        font-size: 18px;
        font-weight: 410;
    }
    .home-content h1 {
        position: absolute;
        top: 260px;
        font-size: 50px;
    }
    .home-content h4 {
        position: absolute;
        top: 400px;
        font-size: 22px;
    }
    .img {
        width: 300px;
        height: 300px;
        top: 185px;
    }
    .btn-box{
        top: 450px;
    }
    .about {
        width: 1024px;
    }
    .about-img {
        width: 330px;
        top: 80px;
        height: 300px;
    }
    .about-text {
        width: 500px;
        top: 0;
        left: 500px;
        padding-left: 0;
    }
    .about-text h1 {
        padding-top: 50px;
        font-size: 40px;
    }
    .about-text h5{
        font-size: 20px;
    }
    .about-img-text {
        width: 140px;
        height: 170px;
    }
    .about-img-text h1 {
        font-size: 70px;
        padding-left: 45px;
    }
    .about-img-text span {
        font-size: 15px;
        font-weight: 400;
        padding-left: 12px;
    }
    .fun-fact {
        display: grid;
        grid-template-columns: repeat(3,170px);
        width:400px;
    }
    .scroll-icon {
        margin-top: 550px;
    }
    #Skills{
        margin-top: 200px
    }
}
@media screen and (min-width: 1025px) and (max-width:1281px){
    .header{
        flex-direction: row;
        padding-left: 5%;
    }
    .navbar{
        width: 580px;
    }
    .navbar a {
        font-size: 19px;
        font-weight: 410;
    }
    .home-content h1 {
        position: absolute;
        top: 270px;
        font-size: 55px;
    }
    .home-content h4 {
        position: absolute;
        top: 440px;
        font-size: 24px;
    }
    .img {
        width: 330px;
        height: 330px;
        top: 190px;
    }
    .btn-box{
        top: 500px;
    }
    .about {
        width: 1280px;
    }
    .about-img {
        width: 370px;
        top: 80px;
        height: 370px;
    }
    .about-text {
        width: 500px;
        top: 0;
        left: 620px;
        padding-left: 0;
    }
    .about-text h1 {
        padding-top: 50px;
        font-size: 37px;
    }
    .about-text h5{
        font-size: 22px;
    }
    .about-img-text {
        width: 140px;
        height: 170px;
        margin-left: 300px;
    }
    .about-img-text h1 {
        font-size: 70px;
        padding-left: 45px;
    }
    .about-img-text span {
        font-size: 15px;
        font-weight: 400;
        padding-left: 12px;
    }
    .fun-fact {
        display: grid;
        grid-template-columns: repeat(3,175px);
        width:400px;
    }
    .scroll-icon {
        margin-top: 640px;
    }
    #Skills{
        margin-top: 200px
    }
}
@media screen and (min-width: 1281px) and (max-width:1440px){
    .header{
        flex-direction: row;
        padding-left: 6%;
    }
    .navbar{
        width: 600px;
    }
    .navbar a {
        font-size: 20px;
        font-weight: 420;
    }
}
@media screen and (min-width: 1440px) and (max-width:1920px){
    .header{
        flex-direction: row;
        padding-left: 6%;
    }
    .navbar{
        width: 650px;
    }
    .navbar a {
        font-size: 20px;
        font-weight: 420;
    }
}