:root {
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Josefin Sans, sans-serif;
}
body {
    color: white;
    background: linear-gradient(to bottom, rgb(16, 16, 16) 0%, rgb(0, 9, 14) 85% , rgb(0, 10, 14) 100%);
}

/*navbar*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}
.logo {
    position: relative;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    letter-spacing: 5px;
}
.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #bbbaba;
    text-decoration: none;
    font-weight: 500;
    margin-left: 27px;
}
.span{
    background: -webkit-linear-gradient(right, #b02cff, #2bc4fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.navbar a:hover {
    color: #8535fd;
    transition: 0.4s ease-in-out;
}

/*home*/
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    min-height: 97vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
}
.home-content h1 {
    font-size: 70px;
    font-weight: 700;
    margin: -3px 0;
    letter-spacing: 5px;
    padding-top: 0px;
    padding-bottom: 15px;
    background: -webkit-linear-gradient(right,#BD00FF, #00C2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-content h4 {
    font-size: 25px;
    font-weight: 350;
    padding-bottom: 50px;
}
.img {
    display: inline-block;
    width: 400px;
    height: 400px;
    left: 60%;
    bottom: 25%;
    margin-right: 5%;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.responsive {
    width: 100%;
    height: auto;
    border-top-left-radius: 270px;
    border-top-right-radius: 270px;
    border-bottom-left-radius: 270px;
    border-bottom-right-radius: 270px;
}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #424141;
    border-radius: 2px;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover {
    color: #FD7E14;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 5px #424141,0 0 23px #424141, 0 0 50pc #424141;
}


/*about */
.about{
    display: flex;
    padding: 50px 10%;
    min-height: 100vh;
    position: relative;
}
.about-text{
    position: absolute;
    left: 35%;
    padding-left: 200px;
}
.about-text h1{
    padding-top: 80px;
    font-size: 55px;
}
.about-text h5{
    font-size: 22px;
    opacity: 90%;
    font-weight: normal;
}
.about-text p{
    opacity: 90%;
    padding-top: 20px;
    font-size: 17px;
    font-weight: 10;
}
#about-me{
    font-size: 30px;
    font-weight: bolder;
    background: -webkit-linear-gradient(right, #6241b6, #2a89f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid #5942ab;
}
.about-img{
    display: inline-block;
    width: 400px;
    height: 400px;
    left: 10%;
    bottom: 25%;
    margin-right: 5%;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}
.abt-responsive {
    width: 100%;
    height: auto;
}
#about-name{
    font-size: 55px;
    background: -webkit-linear-gradient(right,#BD00FF, #00C2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-img-text{
    width: 160px;
    height: 190px;
    background-color: #000000;
    border-radius: 4px;
    margin-left: 20vw;
    position: absolute;
    margin-top: -10vw;
}
.about-img-text h1{
    font-size: 80px;
    padding-left: 50px;
    margin-bottom: 10px;
    margin-top: 25px;
}
.about-img-text span{
    font-size: 18px;
    font-weight: 500;
    padding-left: 11px;
}
.fun-fact{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.fun-fact-item h1{
    padding: 0;
    letter-spacing: 2px;
    margin-bottom: 0px;
    background: -webkit-linear-gradient(right, #d35bfc, #64d6f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fun-fact-item p{
    font-weight: 350;
    opacity: 65%;
    letter-spacing: 0.8px;
    padding: 0;
}


/* Skills */
#Skills{
    align-content: center;
    margin-top: 50px;
    min-height: 97vh;
    padding-bottom: 40px;
}

.subtitle {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 45vw;
    background: -webkit-linear-gradient(right, #6241b6, #2a89f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid #5942ab;
}
.cards{
    width: 400px;
    height: 320px;
    min-width: 200px;
    display: inline-block;
    border-radius: 5px;
    border: 5px solid #7b68af;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}
.cards .des{
    padding: 0px;
}
.titles{
    text-align: center;
    padding: 10px;
}

.cards .titles h1{
    font-size: 33px;
    background: -webkit-linear-gradient(right, #bb00ff, #285cec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skill-icon {
    width: 24px;
    height: 24px;
    padding-right: 5px;
}
.techs{
    font-size: 18px;
    display: inline-flex;
    padding: 5px;
    border: 2px solid #ffffff;
    width: fit-content;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
}
.cards:hover{
    box-shadow: 1px 1px 10px #4b00ff;
}

/*projects*/
#Projects{
    min-height: 97vh;
}
.container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}

.card__container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.card__article {
    position: relative;
    overflow: hidden;
}

.card__img {
    width: 328px;
    border-radius: .2rem;
}

.card__data {
    width: 280px;
    background-image: linear-gradient(to bottom, #c237f5, #2f5fec);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: .8rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__description {
    display: block;
    margin-bottom: .40rem;
    font-size: .90rem;
}

.card__title {
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: .75rem;
}

.card__button {
    text-decoration: none;
    font-size: 30px;
    color: #000000;
}

.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover .card__img {
    box-shadow: 1px 1px 5px #4b00ff;
    filter: blur(1.5px);
    transition: filter 0.3s ease-in-out;
}


.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}


/*assignments*/
.assignment-section{
    margin-top: 80px;
    min-height: 85vh;
}
.Assignment{
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}
.assignment-card{
    width: 230px;
    height: 110px;
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    position: relative;
    background-color: #3f3f3f;
    overflow: hidden;
}
.assignment-details{
    position: absolute;
    bottom: -100%;
    left: 90px;
}
.assignment-details p{
    font-size: 17px;
}
.assignment-details a{
    color: white;
    padding-left: 17px;
    font-size: 20px;
}
.assignment-card span{
    position: absolute;
    top: 38px;
    font-size: 21px;
}
.assignment-card:hover{
    background: linear-gradient(0deg, rgb(101, 44, 152) 38%, rgba(63,63,63,1) 93%);
    backdrop-filter: blur(9px);
}
.assignment-card:hover .assignment-details{
     bottom: 17px;
}
.assignment-card:hover .assignment-title {
    transform: translateY(-20px);
}



/*service*/
#service-section{
    min-height: 85vh;
}
.service{
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(4,320px);
    justify-content: center;
}
.service-items{
    width: 320px;
    height: 400px;
    border-right: 1px solid #6b6b6b;
    background-color: #101010;
    padding-top: 70px;
    padding-left: 35px;
}
#service-item4{
    border: none;
}
.service-heading{
    font-size: 28px;
    font-weight: normal;
    margin-top: 30px;
    padding-bottom: 25px;
}
.service-details{
    font-weight: 100;
    padding-bottom: 30px;
}
.service-items i{
    color: #4700fc;
    font-size: 50px;
}
.service-items a{
    text-decoration: none;
}
.service-button{
    width: 45px;
    height: 45px;
    background-color: #3f3f3f;
    justify-content: center;
    text-align: center;
}
.service-button i{
    font-size: 40px;
    color: white;
}
.service-items:hover{
    background-color: #1e1e1e;
    transition: 0.3s ease-in-out;
}
.service-items:hover i{
    color: white;
    transition: 0.3s ease-in-out;
}
.service-button:hover{
    background-image: linear-gradient(to bottom, #7625ef, #2f5fec);
    transition: 0.3s ease-in-out;
}
.service-items:hover .service-heading{
    background: -webkit-linear-gradient(right, #bb00ff, #285cec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s ease-in-out;
}

/*content*/
#Contact{
    min-height: 95vh;
}
.contact-section{
    margin-left: 10vw;
    margin-top: 10vw;
    width: 80vw;
    height: 90vh;
    background-color: #3f3f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-title h1{
    font-size: 55px;
    padding-left: 27px;
    margin-bottom: 10px;
}
.contact-title p{
    font-size: 17px;
    padding-left: 50px;
    margin-bottom: 50px;
}
.contact-form{
    width: 70vw;
    height: 300px;
    background-color: #FD7E14;
}
/*media queries*/
@media all and (max-width: 1300px) {
    .img {
        width: 350px;
        height: 350px;
    }
    .home-content h1 {
        font-size: 65px;
    }
    .home-content h4 {
        font-size: 22px;
    }
    .home{
        padding: 70px 8% 0;
    }
    .navbar a {
        font-size: 18px;
        margin-left: 30px;
    }
    .header{
        padding: 15px 10%;
    }
    .about-img{
        width: 350px;
        height: 350px;
        margin-bottom: 47px;
    }
    .about-text{
        padding-left: 150px;
    }
    .about-text h1{
        font-size: 50px;
    }


}

@media all and (max-width: 1105px){
    .img {
        width: 320px;
        height: 320px;
    }
    .home-content h1 {
        font-size: 61px;
    }
    .home-content h4 {
        font-size: 20px;
    }
    .home{
        padding: 70px 7% 0;
    }
    .navbar a {
        font-size: 17px;
        margin-left: 28px;
    }
    .header{
        padding: 15px 9%;
    }
    .about-img{
        width: 320px;
        height: 320px;
        margin-bottom: 75px;
    }
    .about-text{
        padding-left: 100px;
    }
    .about-text h1{
        font-size: 42px;
    }
}

@media all and (max-width: 1020px) {
    .img {
        width: 300px;
        height: 300px;
    }
    .home-content h1 {
        font-size: 59px;
    }
    .home-content h4 {
        font-size: 19px;
    }
    .home{
        padding: 70px 6% 0;
    }
    .navbar a {
        font-size: 16px;
        margin-left: 25px;
    }
    .header{
        padding: 15px 8%;
    }
    .about-img{
        width: 300px;
        height: 300px;
        margin-bottom: 90px;
    }
    .about-text{
        padding-left: 85px;
    }
}

@media all and (max-width: 965px) {
    .header {
        flex-direction: column;
    }

    .logo {
        font-size: 30px;
        letter-spacing: 5px;
    }

    .home {
        flex-direction: column;
        align-items: center;
        padding: 130px 10% 0;
        border-bottom: 1px solid #363636;
        height: 120vh;
    }
    .img {
        width: 300px;
        height: 300px;
        padding-top: 50px;
        left: 33vw;
    }
    .home-content{
        text-align: center;
    }
    .home-content h1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about{
        flex-direction: column;
        align-items: center;
        min-height: 140vh;
    }
    .about-text{
        top: 510px;
        left: 14vw;
        text-align: center;
    }
    .about-text h1{
        padding-top: 20px;
        font-size: 35px;
    }
    .about-img{
        margin-right: 110px;
        position: relative;
    }
}

@media all and (max-width: 768px) {
    .home {
        padding: 130px 7% 0;
        height: 120vh;
    }
    .img {
        width: 295px;
        height: 295px;
        left: 32vw;
        padding-top: 20px;
    }
    .home-content h1 {
        font-size: 55px;
    }
    .home-content h4 {
        font-size: 16px;
    }
    .navbar a {
        font-size: 15px;
        margin-left: 23px;
    }
    .header{
        padding: 15px 7%;
    }
    .about-img{
        margin-right: 95px;
    }
    .about-text{
        left: 8vw;
    }

}

@media all and (max-width: 660px){
    .home {
        padding: 130px 7% 0;
        height: 120vh;
    }
    .img {
        width: 290px;
        height: 290px;
        left: 28vw;
        padding-top: 20px;
    }
    .home-content h1 {
        font-size: 53px;
    }
    .home-content h4 {
        font-size: 14px;
    }
    .navbar a {
        font-size: 14px;
        margin-left: 21px;
    }
    .header{
        padding: 15px 6%;
    }
    .about-img{
        margin-right: 90px;
    }
    .about-text{
        left: 1vw;
        padding-left: 80px;
    }
}

@media all and (max-width: 590px){
    .home {
        padding: 130px 6% 0;
        height: 120vh;
    }
    .img {
        width: 295px;
        height: 295px;
        left: 24vw;
        padding-top: 20px;
    }
    .home-content h1 {
        font-size: 48px;
    }
    .home-content h4 {
        font-size: 13px;
    }
    .navbar a {
        font-size: 12px;
        margin-left: 18px;
    }
    .header{
        padding: 15px 5%;
    }
    .about-img{
        margin-right: 50px;
    }
    .about-text{
        padding-left: 50px;
    }
}

@media all and (max-width: 495px){
    .home {
        padding: 130px 7% 0px 80px;
        height: 120vh;
    }
    .img {
        width: 290px;
        height: 290px;
        left: 22vw;
        padding-top: 20px;
    }
    .home-content h1 {
        font-size: 45px;
    }
    .home-content h4 {
        font-size: 11px;
    }
    .navbar a {
        font-size: 5px;
        margin-left: 1px;
    }
    .header{
        padding: 15px 1%;
    }

    .container {
        margin-inline: 1rem;
    }

}
